<select class="role-selector">
    <option value=""></option>
    <option value="bodyguard">Bodyguard</option>
    <option value="doctor">Doctor</option>
    <option value="escort">Escort</option>
    <option value="investigator">Investigator</option>
    <option value="lookout">Lookout</option>
    <option value="mayor">Mayor</option>
    <option value="medium">Medium</option>
    <option value="retributionist">Retributionist</option>
    <option value="sheriff">Sheriff</option>
    <option value="spy">Spy</option>
    <option value="transporter">Transporter</option>
    <option value="veteran">Veteran</option>
    <option value="vigilante">Vigilante</option>
</select>